In [80]:
import pandas as pd
import numpy as np

In [81]:
A_area = pd.read_csv("A_관심지역 민원발생 건수_2021년.csv", encoding='euc-kr')
A_area.info() # 지역, 비고 버림 발생일자 na값은 합계

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      81 non-null     object
 1   발생일자    80 non-null     object
 2   지역      1 non-null      object
 3   발생건수    81 non-null     int64
 4   비고      0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.3+ KB

In [82]:
A_area = A_area.drop(['NO','지역', '비고'],axis=1)

In [83]:
A_area_test = A_area.dropna()
A_area_test

          발생일자  발생건수
0   2021-01-22     2
1   2021-01-25     1
2   2021-01-30     1
3   2021-01-31     1
4   2021-02-01     1
..         ...   ...
75  2021-12-14     1
76  2021-12-16     7
77  2021-12-21     6
78  2021-12-23     3
79  2021-12-28     3

[80 rows x 2 columns]

In [84]:
A_area_test['발생일자'] = pd.to_datetime(A_area_test['발생일자'], infer_datetime_format=True)
A_area_test

/tmp/ipykernel_89377/2342044554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A_area_test['발생일자'] = pd.to_datetime(A_area_test['발생일자'], infer_datetime_format=True)

         발생일자  발생건수
0  2021-01-22     2
1  2021-01-25     1
2  2021-01-30     1
3  2021-01-31     1
4  2021-02-01     1
..        ...   ...
75 2021-12-14     1
76 2021-12-16     7
77 2021-12-21     6
78 2021-12-23     3
79 2021-12-28     3

[80 rows x 2 columns]

In [85]:
A_area_test['날짜']= A_area_test['발생일자'].dt.strftime("%Y%m%d")
A_area_test

/tmp/ipykernel_89377/1906580182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A_area_test['날짜']= A_area_test['발생일자'].dt.strftime("%Y%m%d")

         발생일자  발생건수        날짜
0  2021-01-22     2  20210122
1  2021-01-25     1  20210125
2  2021-01-30     1  20210130
3  2021-01-31     1  20210131
4  2021-02-01     1  20210201
..        ...   ...       ...
75 2021-12-14     1  20211214
76 2021-12-16     7  20211216
77 2021-12-21     6  20211221
78 2021-12-23     3  20211223
79 2021-12-28     3  20211228

[80 rows x 3 columns]

In [10]:
A_area_test = A_area_test.drop(['발생일자'], axis = 1)

In [11]:
A_area_test['날짜'] = A_area_test['날짜'].astype(int)

In [ ]:
###시간별 대기 확산 지수

In [12]:
A_air_diff= pd.read_csv("A_대기확산지수(3hr)_2021년.csv", encoding='euc-kr')
A_air_diff.info() # 끝에 둘 버림

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      365 non-null    object
 1   항목      365 non-null    object
 2   날짜      365 non-null    int64
 3   3       365 non-null    int64
 4   6       365 non-null    int64
 5   9       365 non-null    int64
 6   12      365 non-null    int64
 7   15      365 non-null    int64
 8   18      365 non-null    int64
 9   21      365 non-null    int64
 10  24      365 non-null    int64
dtypes: int64(9), object(2)
memory usage: 31.5+ KB

In [13]:
A_air_diff = A_air_diff.iloc[:, 0:11]
A_air_diff

    지역      항목        날짜   3    6    9  12   15   18   21  24
0    A  대기확산지수  20210101  50   50   50  50   50   50   50  50
1    A  대기확산지수  20210102  50   50   50  50   25   50   50  50
2    A  대기확산지수  20210103  50   50   50  50   25   50   50  75
3    A  대기확산지수  20210104  50   75   75  50   50   50   50  50
4    A  대기확산지수  20210105  50   50   50  50   25   50   50  75
..  ..     ...       ...  ..  ...  ...  ..  ...  ...  ...  ..
360  A  대기확산지수  20211227  50   50   50  50   50   50   50  75
361  A  대기확산지수  20211228  75  100  100  50  100  100  100  75
362  A  대기확산지수  20211229  50   50   50  50   50   50   50  50
363  A  대기확산지수  20211230  50   50   50  50   25   25   50  50
364  A  대기확산지수  20211231  50   50   25  25   50   50   50  50

[365 rows x 11 columns]

In [14]:
A_air_diff['날짜'] = pd.to_datetime(A_air_diff['날짜'], format = '%Y%m%d')
A_air_diff

    지역      항목         날짜   3    6    9  12   15   18   21  24
0    A  대기확산지수 2021-01-01  50   50   50  50   50   50   50  50
1    A  대기확산지수 2021-01-02  50   50   50  50   25   50   50  50
2    A  대기확산지수 2021-01-03  50   50   50  50   25   50   50  75
3    A  대기확산지수 2021-01-04  50   75   75  50   50   50   50  50
4    A  대기확산지수 2021-01-05  50   50   50  50   25   50   50  75
..  ..     ...        ...  ..  ...  ...  ..  ...  ...  ...  ..
360  A  대기확산지수 2021-12-27  50   50   50  50   50   50   50  75
361  A  대기확산지수 2021-12-28  75  100  100  50  100  100  100  75
362  A  대기확산지수 2021-12-29  50   50   50  50   50   50   50  50
363  A  대기확산지수 2021-12-30  50   50   50  50   25   25   50  50
364  A  대기확산지수 2021-12-31  50   50   25  25   50   50   50  50

[365 rows x 11 columns]

In [15]:
A_air_diff['날짜'] = A_air_diff['날짜'].dt.strftime("%Y%m%d")

In [16]:
A_air_diff['대기확산지수']  = A_air_diff.mean(axis = 'columns')
A_air_diff
#A_air_diff.drop([3,4,5,6])

/tmp/ipykernel_89377/4201686808.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  A_air_diff['대기확산지수']  = A_air_diff.mean(axis = 'columns')

    지역      항목        날짜   3    6    9  12   15   18   21  24  대기확산지수
0    A  대기확산지수  20210101  50   50   50  50   50   50   50  50  50.000
1    A  대기확산지수  20210102  50   50   50  50   25   50   50  50  46.875
2    A  대기확산지수  20210103  50   50   50  50   25   50   50  75  50.000
3    A  대기확산지수  20210104  50   75   75  50   50   50   50  50  56.250
4    A  대기확산지수  20210105  50   50   50  50   25   50   50  75  50.000
..  ..     ...       ...  ..  ...  ...  ..  ...  ...  ...  ..     ...
360  A  대기확산지수  20211227  50   50   50  50   50   50   50  75  53.125
361  A  대기확산지수  20211228  75  100  100  50  100  100  100  75  87.500
362  A  대기확산지수  20211229  50   50   50  50   50   50   50  50  50.000
363  A  대기확산지수  20211230  50   50   50  50   25   25   50  50  43.750
364  A  대기확산지수  20211231  50   50   25  25   50   50   50  50  43.750

[365 rows x 12 columns]

In [17]:
A_air_diff_test = A_air_diff.drop(['3','6','9','12','15','18','21','24','지역','항목'], axis = 1)
A_air_diff_test

           날짜  대기확산지수
0    20210101  50.000
1    20210102  46.875
2    20210103  50.000
3    20210104  56.250
4    20210105  50.000
..        ...     ...
360  20211227  53.125
361  20211228  87.500
362  20211229  50.000
363  20211230  43.750
364  20211231  43.750

[365 rows x 2 columns]

In [18]:
A_air_diff_test['날짜'] = A_air_diff_test['날짜'].astype(int)

In [ ]:
### 기상자료

In [19]:
A_air = pd.read_csv("A측정소_기상자료(1hr)_2021년.csv", encoding='euc-kr')
A_air.info() #nan 날림

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   일시             8759 non-null   object
 2   기온(°C)         8750 non-null   float64
 3   습도(%)          8750 non-null   float64
 4   풍속(m/s)        8750 non-null   float64
 5   풍향(360°)       8750 non-null   float64
 6   일사량(w/㎡)       8748 non-null   float64
 7   PM10(㎍/㎥)      8586 non-null   float64
 8   PM2.5(㎍/㎥)     8577 non-null   float64
 9   오존(ppm)        8665 non-null   float64
 10  증기압(hPa)       8759 non-null   float64
 11  현지기압(hPa)      8759 non-null   float64
 12  지면온도(°C)       8759 non-null   float64
 13  30cm 지중온도(°C)  8759 non-null   float64
 14  강수량(mm)        8759 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

In [20]:
A_air = A_air.iloc[:, 1:15]
A_air['일시'] = pd.to_datetime(A_air['일시'], format = '%Y/%m/%d %H:%M')
A_air

,일시,기온(°C),습도(%),풍속(m/s),풍향(360°),일사량(w/㎡),PM10(㎍/㎥),PM2.5(㎍/㎥),오존(ppm),증기압(hPa),현지기압(hPa),지면온도(°C),30cm 지중온도(°C),강수량(mm)
0,2021-01-01 01:00:00,-8.7,89.2,0.1,340.0,0.0,32.0,22.0,0.003,3.0,1018.9,-6.5,3.0,0.0
1,2021-01-01 02:00:00,-8.9,89.0,0.6,227.3,0.0,34.0,28.0,0.003,3.0,1019.2,-6.8,2.9,0.0
2,2021-01-01 03:00:00,-9.5,88.4,0.8,231.4,0.0,36.0,30.0,0.003,2.9,1019.5,-7.1,2.9,0.0
3,2021-01-01 04:00:00,-9.8,87.3,0.6,231.5,0.0,29.0,28.0,0.002,2.8,1019.5,-7.3,2.8,0.0
4,2021-01-01 05:00:00,-10.0,87.5,1.1,225.8,0.0,32.0,26.0,0.003,2.8,1019.0,-7.6,2.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2021-12-31 19:00:00,-4.2,45.8,0.9,6.8,0.0,21.0,5.0,0.034,1.9,1023.4,-3.9,2.3,0.0
8755,2021-12-31 20:00:00,-4.6,47.2,0.9,348.2,0.0,25.0,7.0,0.033,2.0,1023.7,-4.7,2.3,0.0
8756,2021-12-31 21:00:00,-5.1,48.9,0.5,29.8,0.0,27.0,8.0,0.033,2.0,1023.5,-5.4,2.3,0.0
8757,2021-12-31 22:00:00,-6.3,57.1,0.5,238.3,0.0,25.0,8.0,0.016,2.1,1023.9,-6.0,2.3,0.0
8758,2021-12-31 23:00:00,-7.3,62.2,0.9,219.5,0.0,27.0,10.0,0.026,2.2,1024.2,-6.5,2.3,0.0

In [21]:
A_air['날짜'] = A_air['일시'].dt.strftime("%Y%m%d")

In [22]:
A_air_test = A_air.groupby('날짜').mean()
A_air_test.reset_index(level=['날짜'], inplace = True)
A_air_test

,날짜,기온(°C),습도(%),풍속(m/s),풍향(360°),일사량(w/㎡),PM10(㎍/㎥),PM2.5(㎍/㎥),오존(ppm),증기압(hPa),현지기압(hPa),지면온도(°C),30cm 지중온도(°C),강수량(mm)
0,20210101,-5.530435,84.991304,0.530435,141.960870,59.782609,30.652174,25.695652,0.007130,3.865217,1017.986957,-3.039130,2.704348,0.086957
1,20210102,-3.975000,67.162500,0.812500,155.862500,111.991667,37.166667,25.000000,0.016333,3.179167,1020.400000,-1.400000,2.541667,0.004167
2,20210103,-4.662500,62.337500,0.633333,160.908333,78.987500,37.208333,17.875000,0.017208,2.837500,1025.583333,-3.312500,2.458333,0.000000
3,20210104,-3.787500,66.158333,0.641667,220.470833,76.029167,37.500000,25.000000,0.009167,3.187500,1023.241667,-2.754167,2.250000,0.000000
4,20210105,-2.491667,56.720833,1.183333,118.433333,97.954167,33.083333,22.708333,0.019333,3.216667,1021.033333,-1.566667,2.208333,0.004167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,20211227,-5.329167,54.312500,0.695833,204.491667,88.762500,28.375000,10.650000,0.021333,2.554167,1023.083333,-3.879167,2.462500,0.000000
361,20211228,-1.108333,85.600000,0.462500,92.983333,38.462500,65.416667,44.833333,0.005583,4.895833,1019.745833,-1.054167,2.216667,0.000000
362,20211229,2.045833,73.458333,0.912500,261.570833,52.850000,69.750000,49.125000,0.018250,5.145833,1012.337500,0.412500,2.254167,0.000000
363,20211230,-0.691667,59.783333,1.125000,239.720833,71.000000,28.125000,11.083333,0.033708,3.408333,1016.504167,-0.383333,2.245833,0.020833
364,20211231,-4.450000,49.866667,1.020833,175.225000,107.583333,27.958333,9.875000,0.029958,2.154167,1022.645833,-2.045833,2.312500,0.000000

In [23]:
#A_air_test['날짜'] = pd.to_datetime(A_air_test['날짜'], format = '%Y%m%d')
A_air_test['날짜'] = A_air_test['날짜'].astype(int)
#A_air_test

In [ ]:
### 합하기

In [24]:
total_dt = pd.merge(A_air_test, A_air_diff_test, how='left', on='날짜')

In [25]:
total_dt = pd.merge(total_dt, A_area_test, how='left', on='날짜')

In [26]:
total_dt = total_dt.dropna(subset = ['PM10(㎍/㎥)'])
total_dt = total_dt.fillna(0)
total_dt['발생건수'] = total_dt['발생건수'].astype(int)

In [27]:
total_dt

,날짜,기온(°C),습도(%),풍속(m/s),풍향(360°),일사량(w/㎡),PM10(㎍/㎥),PM2.5(㎍/㎥),오존(ppm),증기압(hPa),현지기압(hPa),지면온도(°C),30cm 지중온도(°C),강수량(mm),대기확산지수,발생건수
0,20210101,-5.530435,84.991304,0.530435,141.960870,59.782609,30.652174,25.695652,0.007130,3.865217,1017.986957,-3.039130,2.704348,0.086957,50.000,0
1,20210102,-3.975000,67.162500,0.812500,155.862500,111.991667,37.166667,25.000000,0.016333,3.179167,1020.400000,-1.400000,2.541667,0.004167,46.875,0
2,20210103,-4.662500,62.337500,0.633333,160.908333,78.987500,37.208333,17.875000,0.017208,2.837500,1025.583333,-3.312500,2.458333,0.000000,50.000,0
3,20210104,-3.787500,66.158333,0.641667,220.470833,76.029167,37.500000,25.000000,0.009167,3.187500,1023.241667,-2.754167,2.250000,0.000000,56.250,0
4,20210105,-2.491667,56.720833,1.183333,118.433333,97.954167,33.083333,22.708333,0.019333,3.216667,1021.033333,-1.566667,2.208333,0.004167,50.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,20211227,-5.329167,54.312500,0.695833,204.491667,88.762500,28.375000,10.650000,0.021333,2.554167,1023.083333,-3.879167,2.462500,0.000000,53.125,0
362,20211228,-1.108333,85.600000,0.462500,92.983333,38.462500,65.416667,44.833333,0.005583,4.895833,1019.745833,-1.054167,2.216667,0.000000,87.500,3
363,20211229,2.045833,73.458333,0.912500,261.570833,52.850000,69.750000,49.125000,0.018250,5.145833,1012.337500,0.412500,2.254167,0.000000,50.000,0
364,20211230,-0.691667,59.783333,1.125000,239.720833,71.000000,28.125000,11.083333,0.033708,3.408333,1016.504167,-0.383333,2.245833,0.020833,43.750,0
365,20211231,-4.450000,49.866667,1.020833,175.225000,107.583333,27.958333,9.875000,0.029958,2.154167,1022.645833,-2.045833,2.312500,0.000000,43.750,0

In [28]:
total_dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 0 to 365
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   날짜             363 non-null    int64
 1   기온(°C)         363 non-null    float64
 2   습도(%)          363 non-null    float64
 3   풍속(m/s)        363 non-null    float64
 4   풍향(360°)       363 non-null    float64
 5   일사량(w/㎡)       363 non-null    float64
 6   PM10(㎍/㎥)      363 non-null    float64
 7   PM2.5(㎍/㎥)     363 non-null    float64
 8   오존(ppm)        363 non-null    float64
 9   증기압(hPa)       363 non-null    float64
 10  현지기압(hPa)      363 non-null    float64
 11  지면온도(°C)       363 non-null    float64
 12  30cm 지중온도(°C)  363 non-null    float64
 13  강수량(mm)        363 non-null    float64
 14  대기확산지수         363 non-null    float64
 15  발생건수           363 non-null    int64
dtypes: float64(14), int64(2)
memory usage: 48.2 KB

In [29]:
total_dt.to_csv("A_df.csv")

In [ ]:
### B

In [86]:
B_area = pd.read_csv("B관측소_시간별_민원발생건수.csv", encoding='euc-kr')
B_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      130 non-null    int64
 1   발생일자    130 non-null    object
 2   시간      130 non-null    object
 3   주소      130 non-null    object
 4   발생건수    130 non-null    int64
dtypes: int64(2), object(3)
memory usage: 5.2+ KB

In [87]:
B_area = B_area.drop(['NO','주소'],axis=1)
B_area_test = B_area.dropna()
B_area_test['발생일자'] = pd.to_datetime(B_area_test['발생일자'], infer_datetime_format=True)
B_area_test['날짜']= B_area_test['발생일자'].dt.strftime("%Y%m%d")
B_area_test = B_area_test.drop(['발생일자'], axis = 1)
B_area_test['날짜'] = B_area_test['날짜'].astype(int)

In [88]:
B_area_test

        시간  발생건수        날짜
0    21:22     1  20210128
1    19:13     1  20210215
2    20:15     1  20210216
3    10:40     1  20210222
4    18:33     1  20210310
..     ...   ...       ...
125  19:48     1  20211108
126  21:05     1  20211110
127  14:50     1  20211122
128  22:51     1  20211206
129  19:32     1  20211229

[130 rows x 3 columns]

In [89]:
B_air_diff= pd.read_csv("B_대기확산지수(3hr)_2021년.csv", encoding='euc-kr')
B_air_diff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      365 non-null    object
 1   항목      365 non-null    object
 2   날짜      365 non-null    int64
 3   3       365 non-null    int64
 4   6       365 non-null    int64
 5   9       365 non-null    int64
 6   12      365 non-null    int64
 7   15      365 non-null    int64
 8   18      365 non-null    int64
 9   21      365 non-null    int64
 10  24      365 non-null    int64
dtypes: int64(9), object(2)
memory usage: 31.5+ KB

In [39]:
B_air_diff = B_air_diff.iloc[:, 0:11]
B_air_diff['날짜'] = pd.to_datetime(B_air_diff['날짜'], format = '%Y%m%d')
B_air_diff['날짜'] = B_air_diff['날짜'].dt.strftime("%Y%m%d")
B_air_diff['대기확산지수']  = B_air_diff.mean(axis = 'columns')
B_air_diff_test = B_air_diff.drop(['3','6','9','12','15','18','21','24','지역','항목'], axis = 1)
B_air_diff_test['날짜'] = B_air_diff_test['날짜'].astype(int)

/tmp/ipykernel_89377/2718414414.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  B_air_diff['대기확산지수']  = B_air_diff.mean(axis = 'columns')

In [43]:
B_air = pd.read_csv('B측정소_기상자료(1hr)_2021년.csv', encoding='euc-kr')
B_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   일시             8759 non-null   object
 2   기온(°C)         8396 non-null   float64
 3   습도(%)          8396 non-null   float64
 4   풍속(m/s)        8396 non-null   float64
 5   풍향(360°)       8396 non-null   float64
 6   일사량(w/㎡)       8396 non-null   float64
 7   PM10(㎍/㎥)      8283 non-null   float64
 8   PM2.5(㎍/㎥)     8035 non-null   float64
 9   오존(ppm)        8325 non-null   float64
 10  증기압(hPa)       8759 non-null   float64
 11  현지기압(hPa)      8759 non-null   float64
 12  지면온도(°C)       8759 non-null   float64
 13  30cm 지중온도(°C)  8759 non-null   float64
 14  강수량(mm)        8759 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

In [44]:
B_air = B_air.iloc[:, 1:15]
B_air['일시'] = pd.to_datetime(B_air['일시'], format = '%Y/%m/%d %H:%M')
B_air['날짜'] = B_air['일시'].dt.strftime("%Y%m%d")
B_air_test = B_air.groupby('날짜').mean()
B_air_test.reset_index(level=['날짜'], inplace = True)
B_air_test['날짜'] = B_air_test['날짜'].astype(int)

In [45]:
total_dt = pd.merge(B_air_test, B_air_diff_test, how='left', on='날짜')

In [46]:
total_dt = pd.merge(total_dt, B_area_test, how='left', on='날짜')

In [47]:
total_dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   날짜             425 non-null    int64
 1   기온(°C)         411 non-null    float64
 2   습도(%)          411 non-null    float64
 3   풍속(m/s)        411 non-null    float64
 4   풍향(360°)       411 non-null    float64
 5   일사량(w/㎡)       411 non-null    float64
 6   PM10(㎍/㎥)      395 non-null    float64
 7   PM2.5(㎍/㎥)     389 non-null    float64
 8   오존(ppm)        411 non-null    float64
 9   증기압(hPa)       425 non-null    float64
 10  현지기압(hPa)      425 non-null    float64
 11  지면온도(°C)       425 non-null    float64
 12  30cm 지중온도(°C)  425 non-null    float64
 13  강수량(mm)        425 non-null    float64
 14  대기확산지수         425 non-null    float64
 15  시간             130 non-null    object
 16  발생건수           130 non-null    float64
dtypes: float64(15), int64(1), object(1)
memory usage: 59.8+ KB

In [48]:
total_dt = total_dt.dropna(subset = ['PM2.5(㎍/㎥)'])
total_dt = total_dt.fillna(0)
total_dt['발생건수'] = total_dt['발생건수'].astype(int)

In [49]:
total_dt.to_csv("B_df.csv")

In [ ]:
### C

In [51]:
C_area = pd.read_csv("C__관심지역 민원발생 건수_2021년.csv", encoding='euc-kr')
C_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      30 non-null     object
 1   발생일자    29 non-null     object
 2   주소      1 non-null      object
 3   발생건수    30 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [52]:
C_area = C_area.drop(['NO','주소'],axis=1)
C_area_test = C_area.dropna()
C_area_test['발생일자'] = pd.to_datetime(C_area_test['발생일자'], infer_datetime_format=True)
C_area_test['날짜']= C_area_test['발생일자'].dt.strftime("%Y%m%d")
C_area_test = C_area_test.drop(['발생일자'], axis = 1)
C_area_test['날짜'] = C_area_test['날짜'].astype(int)

/tmp/ipykernel_89377/3574149889.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  C_area_test['발생일자'] = pd.to_datetime(C_area_test['발생일자'], infer_datetime_format=True)
/tmp/ipykernel_89377/3574149889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  C_area_test['날짜']= C_area_test['발생일자'].dt.strftime("%Y%m%d")

In [53]:
C_area_test

    발생건수        날짜
0      1  20210105
1      1  20210203
2      1  20210223
3      1  20210224
4      1  20210302
5      1  20210405
6      1  20210525
7      1  20210601
8      1  20210608
9      1  20210705
10     1  20210713
11     1  20210714
12     1  20210719
13     1  20210720
14     1  20210727
15     2  20210811
16     1  20210823
17     1  20210825
18     1  20210901
19     1  20210907
20     2  20210924
21     1  20211005
22     2  20211006
23     1  20211026
24     2  20211101
25     1  20211103
26     1  20211202
27     1  20211204
28     1  20211206

In [55]:
C_air_diff= pd.read_csv("C_대기확산지수(3hr)_2021년.csv", encoding='euc-kr')
C_air_diff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      365 non-null    object
 1   항목      365 non-null    object
 2   날짜      365 non-null    int64
 3   3       365 non-null    int64
 4   6       365 non-null    int64
 5   9       365 non-null    int64
 6   12      365 non-null    int64
 7   15      365 non-null    int64
 8   18      365 non-null    int64
 9   21      365 non-null    int64
 10  24      365 non-null    int64
dtypes: int64(9), object(2)
memory usage: 31.5+ KB

In [56]:
C_air_diff = C_air_diff.iloc[:, 0:11]
C_air_diff['날짜'] = pd.to_datetime(C_air_diff['날짜'], format = '%Y%m%d')
C_air_diff['날짜'] = C_air_diff['날짜'].dt.strftime("%Y%m%d")
C_air_diff['대기확산지수']  = C_air_diff.mean(axis = 'columns')
C_air_diff_test = C_air_diff.drop(['3','6','9','12','15','18','21','24','지역','항목'], axis = 1)
C_air_diff_test['날짜'] = C_air_diff_test['날짜'].astype(int)

/tmp/ipykernel_89377/2490867909.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  C_air_diff['대기확산지수']  = C_air_diff.mean(axis = 'columns')

In [57]:
C_air_diff_test

           날짜  대기확산지수
0    20210101  50.000
1    20210102  46.875
2    20210103  53.125
3    20210104  59.375
4    20210105  43.750
..        ...     ...
360  20211227  50.000
361  20211228  87.500
362  20211229  50.000
363  20211230  46.875
364  20211231  46.875

[365 rows x 2 columns]

In [90]:
C_air = pd.read_csv('C측정소_기상자료(1hr)_2021년.csv', encoding='euc-kr')
C_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   일시             8759 non-null   object
 2   기온(°C)         8751 non-null   float64
 3   습도(%)          8751 non-null   float64
 4   풍속(m/s)        8751 non-null   float64
 5   풍향(360°)       8751 non-null   float64
 6   일사량(w/㎡)       8753 non-null   float64
 7   PM10(㎍/㎥)      8597 non-null   float64
 8   PM2.5(㎍/㎥)     8546 non-null   float64
 9   오존(ppm)        8657 non-null   float64
 10  증기압(hPa)       8759 non-null   float64
 11  현지기압(hPa)      8759 non-null   float64
 12  지면온도(°C)       8759 non-null   float64
 13  30cm 지중온도(°C)  8759 non-null   float64
 14  강수량(mm)        8759 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

In [91]:
C_air = C_air.iloc[:, 1:15]
C_air['일시'] = pd.to_datetime(C_air['일시'], format = '%Y/%m/%d %H:%M')
C_air['날짜'] = C_air['일시'].dt.strftime("%Y%m%d")
C_air_test = C_air.groupby('날짜').mean()
C_air_test.reset_index(level=['날짜'], inplace = True)
C_air_test['날짜'] = C_air_test['날짜'].astype(int)

In [92]:
total_dt = pd.merge(C_air_test, C_air_diff_test, how='left', on='날짜')

In [93]:
total_dt = pd.merge(total_dt, C_area_test, how='left', on='날짜')

In [94]:
total_dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   날짜             365 non-null    int64
 1   기온(°C)         365 non-null    float64
 2   습도(%)          365 non-null    float64
 3   풍속(m/s)        365 non-null    float64
 4   풍향(360°)       365 non-null    float64
 5   일사량(w/㎡)       365 non-null    float64
 6   PM10(㎍/㎥)      363 non-null    float64
 7   PM2.5(㎍/㎥)     362 non-null    float64
 8   오존(ppm)        365 non-null    float64
 9   증기압(hPa)       365 non-null    float64
 10  현지기압(hPa)      365 non-null    float64
 11  지면온도(°C)       365 non-null    float64
 12  30cm 지중온도(°C)  365 non-null    float64
 13  강수량(mm)        365 non-null    float64
 14  대기확산지수         365 non-null    float64
 15  발생건수           29 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 48.5 KB

In [95]:
total_dt = total_dt.dropna(subset = ['PM2.5(㎍/㎥)'])
total_dt = total_dt.fillna(0)
total_dt['발생건수'] = total_dt['발생건수'].astype(int)

In [96]:
total_dt

,날짜,기온(°C),습도(%),풍속(m/s),풍향(360°),일사량(w/㎡),PM10(㎍/㎥),PM2.5(㎍/㎥),오존(ppm),증기압(hPa),현지기압(hPa),지면온도(°C),30cm 지중온도(°C),강수량(mm),대기확산지수,발생건수
0,20210101,-5.039130,84.060870,0.321739,178.913043,46.478261,31.608696,16.347826,0.004043,3.865217,1017.986957,-3.039130,2.704348,0.086957,50.000,0
1,20210102,-3.383333,65.241667,0.766667,183.541667,103.708333,38.875000,16.250000,0.011750,3.179167,1020.400000,-1.400000,2.541667,0.004167,46.875,0
2,20210103,-4.279167,57.575000,0.412500,139.875000,70.250000,44.750000,13.958333,0.013250,2.837500,1025.583333,-3.312500,2.458333,0.000000,53.125,0
3,20210104,-3.225000,63.833333,0.379167,155.541667,70.708333,46.833333,23.458333,0.004292,3.187500,1023.241667,-2.754167,2.250000,0.000000,59.375,0
4,20210105,-2.283333,55.854167,1.416667,251.166667,80.833333,37.458333,17.125000,0.012750,3.216667,1021.033333,-1.566667,2.208333,0.004167,43.750,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,20211227,-5.166667,51.058333,0.854167,162.683333,85.791667,27.083333,12.458333,0.016542,2.554167,1023.083333,-3.879167,2.462500,0.000000,50.000,0
361,20211228,-0.512500,81.720833,0.250000,87.891667,30.833333,50.916667,34.166667,0.003167,4.895833,1019.745833,-1.054167,2.216667,0.000000,87.500,0
362,20211229,2.512500,70.045833,1.108333,216.712500,48.541667,57.958333,38.791667,0.013542,5.145833,1012.337500,0.412500,2.254167,0.000000,50.000,0
363,20211230,-0.700000,58.529167,1.475000,303.070833,70.041667,20.181818,12.500000,0.024667,3.408333,1016.504167,-0.383333,2.245833,0.020833,46.875,0
364,20211231,-4.220833,46.833333,1.325000,198.445833,105.500000,24.500000,8.333333,0.021958,2.154167,1022.645833,-2.045833,2.312500,0.000000,46.875,0

In [67]:
total_dt.to_csv("C_df.csv")

In [ ]:
### B,C 시간대

In [97]:
B_area = pd.read_csv("B관측소_시간별_민원발생건수.csv", encoding='euc-kr')
B_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      130 non-null    int64
 1   발생일자    130 non-null    object
 2   시간      130 non-null    object
 3   주소      130 non-null    object
 4   발생건수    130 non-null    int64
dtypes: int64(2), object(3)
memory usage: 5.2+ KB

In [98]:
B_area_test = B_area.copy()
B_area_test['발생일자'] = pd.to_datetime(B_area_test['발생일자'], infer_datetime_format=True)
B_area_test['날짜']= B_area_test['발생일자'].dt.strftime("%Y%m%d")
B_area_test = B_area_test.drop(['발생일자'], axis = 1)
B_area_test['날짜'] = B_area_test['날짜'].astype(int)

In [99]:
B_area_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      130 non-null    int64
 1   시간      130 non-null    object
 2   주소      130 non-null    object
 3   발생건수    130 non-null    int64
 4   날짜      130 non-null    int64
dtypes: int64(3), object(2)
memory usage: 5.2+ KB

In [100]:
B_area_test['시'] = B_area_test['시간'].str.split(':').str.get(0)

In [101]:
B_area_test['발생일시'] = B_area_test['날짜'].astype(str).str[4:8] + "" +B_area_test['시간'].astype(str).str[0:2]

In [102]:
B_air_diff= pd.read_csv("B_대기확산지수(3hr)_2021년.csv", encoding='euc-kr')
B_air = pd.read_csv("B측정소_기상자료(1hr)_2021년.csv", encoding='euc-kr')

In [103]:
#3
B_air_diff['4'] = B_air_diff['3'].values
B_air_diff['5'] = B_air_diff['3'].values
#6
B_air_diff['7'] = B_air_diff['6'].values
B_air_diff['8'] = B_air_diff['6'].values
#9
B_air_diff['10'] = B_air_diff['9'].values
B_air_diff['11'] = B_air_diff['9'].values
#12
B_air_diff['13'] = B_air_diff['12'].values
B_air_diff['14'] = B_air_diff['12'].values
#15
B_air_diff['16'] = B_air_diff['15'].values
B_air_diff['17'] = B_air_diff['15'].values
#18
B_air_diff['19'] = B_air_diff['18'].values
B_air_diff['20'] = B_air_diff['18'].values
#21
B_air_diff['22'] = B_air_diff['21'].values
B_air_diff['23'] = B_air_diff['21'].values

#24
B_air_diff['1'] = B_air_diff['24'].values
B_air_diff['2'] = B_air_diff['24'].values

In [76]:
B_air_diff['날짜']

0      20210101
1      20210102
2      20210103
3      20210104
4      20210105
         ...
360    20211227
361    20211228
362    20211229
363    20211230
364    20211231
Name: 날짜, Length: 365, dtype: int64

In [78]:
B_area_test

      NO     시간   주소  발생건수        날짜   시    발생일시
0      1  21:22  석봉동     1  20210128  21  012821
1      2  19:13  석봉동     1  20210215  19  021519
2      3  20:15  석봉동     1  20210216  20  021620
3      4  10:40  석봉동     1  20210222  10  022210
4      5  18:33  목상동     1  20210310  18  031018
..   ...    ...  ...   ...       ...  ..     ...
125  126  19:48  석봉동     1  20211108  19  110819
126  127  21:05  석봉동     1  20211110  21  111021
127  128  14:50  석봉동     1  20211122  14  112214
128  129  22:51  문평동     1  20211206  22  120622
129  130  19:32  석봉동     1  20211229  19  122919

[130 rows x 7 columns]

In [79]:
B_area_test_o = B_area_test_o.transpose()

NameError: name 'B_area_test_o' is not defined